<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Icon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon1</string>
				</array>
			</dict>
			<key>Icon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon2</string>
				</array>
			</dict>
			<key>Icon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon3</string>
				</array>
			</dict>
			<key>Icon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon4</string>
				</array>
			</dict>
			<key>Icon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon5</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>NSAllowsLocalFileReading</key>
	<true/>
	<key>NSFileProviderDomain</key>
	<array>
		<string>com.apple.CloudDocs</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
